.inline-flow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.inline-wrap {
  flex-wrap: wrap;
}

.inline-nowrap {
  flex-wrap: nowrap;
}

.inline-align-start   { align-items: flex-start; }
.inline-align-center  { align-items: center; }
.inline-align-end     { align-items: flex-end; }
.inline-align-stretch { align-items: stretch; }
