.inline-flow {
  display: inline-flex;
  flex-direction: row;
  width: fit-content;
}
.inline-flow > span {
  /* flex: 0 1 auto;
  min-width: 0; */
  width: max-content;
          white-space: pre-wrap;
        word-break: break-word;
        overflow-wrap: break-word;
}

.inline-wrap {
  flex-wrap: wrap;
}

.inline-nowrap {
  flex-wrap: nowrap;
}

.inline-align-start   { align-items: flex-start; }
.inline-align-center  { align-items: center; }
.inline-align-end     { align-items: flex-end; }
.inline-align-stretch { align-items: stretch; }
.inline-align-baseline { align-items: baseline; }
