@layer tokens;       /* Design tokens like colors, shadows, spacing. */
@layer base;         /* Resets, base components (buttons, links etc.), global element styles. */
@layer components;   /* component variants like switch buttons, icons, cards, modals, etc. */
@layer utilities;    /* Helper classes like, .sr-only, grid utilities, typography, margin/padding helpers, etc. */

@import url('./tokens/index.css') layer(tokens);
@import url('./base/index.css') layer(base);
@import url('./layout/index.css') layer(base);
@import url('./components/index.css') layer(components);
@import url('./utils/index.css') layer(utilities);
@import url('./typography/index.css') layer(utilities);
@import url('./animations/index.css') layer(utilities);

