.theming-diagram .theming-diagram-box--heading{
    color: black;
}
.theming-diagram {
    padding: var(--spacing-lg);
}
.theming-diagram-box {
    padding: var(--spacing-lg) var(--spacing-lg);
}
.theming-diagram__component-layer .theming-diagram-box {
    border-style: dashed;
}