.appearanceExamples__select-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: var(--space-4);

    align-items: start;
    justify-items: center;
    width: 100%;
    max-width: var(--bp-md);
}


.appearanceExamples__select-group--select .select {
    width: fit-content;
}