.shiki-wrapper {
    --line-background-color: inherit;
    --line-color: inherit;

    position: relative;
    font-size: 1rem;
    background: var(--color-neutral-900);
    border-radius: var(--radius-md);
    min-width: 0;

    .shiki {
        max-height: 30rem;
        padding: 1.15em 0.5em;
        padding-inline-end: 3em;
        margin-block: 0;
        border: var(--border-thick);
        border-radius: var(--radius-md);
        overflow: auto;

        white-space: pre;
        scrollbar-width: auto;
        scrollbar-color: var(--color-neutral-200) transparent;

        &::-webkit-scrollbar {
            height: 10px;
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-neutral-100);
            border-radius: var(--radius-sm);
        }

        code {
            line-height: 1.5;
        }

        .line {
            display: inline-flex;
            width: 100%;
            background-color: var(--line-background-color) !important;

            .custom-code-highlight {
                color: var(--line-color) !important;
            }
        }

        .line:hover {
            --line-background-color: var(--color-neutral-900);
            --line-color: var(--surface-color);
            --code-highlight-background-color: var(--color-neutral-900);
            --code-highlight-color: var(--color-neutral-100);

            .custom-code-highlight:hover {
                --code-highlight-border-color: var(--color-warning-400);
                --code-highlight-background-color: var(--color-neutral-900);
                --line-color: var(--color-neutral-100);
                border-style: solid;
            }
        }
    }
}

.shiki .custom-code-highlight {
    --code-highlight-border-color: var(--border-color, var(--color-primary-400));
    --code-highlight-color: var(--color-neutral-900);
    --code-highlight-background-color: var(--surface-color, var(--color-primary-200));

    --line-color: var(--code-highlight-color);

    background: var(--code-highlight-background-color);
    padding: 0 0.15em;
    border: var(--border-thin);
    border-style: dashed;
    border-color: var(--code-highlight-border-color);
    border-radius: var(--radius-sm);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.shiki-wrapper .button--copy {
    position: absolute;
    --button-margin: 0;
    --button-padding-x: 0;
    --button-padding-y: 0;
    top: 0.5lh;
    right: var(--spacing-sm);
}

.shiki-wrapper:has(.code-title) {
    padding: var(--spacing-sm);

    .code-header {
        padding-inline-start: var(--spacing-sm);
        padding-block: var(--spacing-sm);
        display: flex;
        gap: var(--spacing-sm-md);
        justify-content: space-between;
        align-items: center;
    }

    .button--copy {
        position: relative;
        top: 0;
        right: 0;
    }

    .code-title {
        color: var(--color-neutral-300);
        font-style: italic;
        font-weight: 500;
        margin: 0;
    }
}



@media (max-width: 48rem) {
    .shiki {
        line-height: 1.2;
    }

    .shiki-wrapper pre {
        max-height: 22rem;
        padding-inline-end: 0;
        font-size: var(--font-size-sm);
    }
}

.shiki-inline {
    background-color: var(--color-inline-bg);
    border: var(--border-thin);
    padding: 0.125em var(--spacing-sm);
    border-radius: var(--radius-md);
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.shiki-inline.text-nowrap {
    white-space: pre-line;
    overflow-wrap: break-word;
    word-break: break-word;
}