.contact-form__fieldset {
    border-radius: var(--radius-md);
    max-width: var(--bp-md);
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-900);
}

.contact-form__status {
    --border-color: transparent;

    border: 1px solid transparent;
    border-radius: var(--radius-md);
    background-color: var(--bg-color, transparent);

    transition:
        background-color 0.25s ease,
        border-color 0.25s ease,
        color 0.25s ease;
}

.contact-form__status:not([data-status="idle"]) {
    margin-block: var(--spacing-lg);
    margin-inline: var(--spacing-sm);
    padding: var(--spacing-lg);
}