
.figure {
    margin: 1.5rem 0;
    background-color: var(--color-neutral-100);
    padding: 0.5rem;
    border-radius: var(--radius-lg);
    border: 1px solid var(--color-neutral-500);
}

.figure-caption {
    color: var(--color-neutral-500);
    padding-inline: clamp(0.25em, 1vw, 0.5em);
    /* font-family: var(--font-accent); */
}