.footer {
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
    text-align: center;
    padding-block: var(--spacing-md);
    padding-inline: var(--spacing-lg);
}

.footer p {
    margin: 0;
}
.footer p span {
    margin-inline: 0.5em;
}