.footer {
    --link-color-override: var(--color-primary-100);
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-block: var(--spacing-lg);
    padding-inline: var(--spacing-lg);
}

.footer p {
    margin: 0;
}
.footer p span {
    margin-inline: 0.5em;
}