.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding-block: calc(var(--spacing) * 4);
    background-color: var(--color-primary-400);
    color: var(--color-neutral-100);
}

.footer p {
    margin: 0;
}
.footer p span {
    margin-inline: 0.5em;
}