.footer {
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-block-end: var(--spacing-lg);
    padding-block-start: var(--spacing-3xl);
    padding-inline: var(--spacing-lg);
}

.footer p {
    margin: 0;
}
.footer p span {
    margin-inline: 0.5em;
}