.nav__primary {
    display: flex;
}

.nav__primary a {
    color: var(--color-primary-400);
}

.header--wrapper {
    display: flex;

}

/*  DESKTOP */
@media screen and (min-width: 35rem) {
    .header--wrapper {
        align-items: center;
        position: relative !important;
        height: 5rem;
        min-width: var(--bp-xs);
        padding: var(--spacing-sm) var(--spacing-md);
    }

    .nav__primary {
        display: flex;
        gap: 1.5rem;
        margin-left: auto;
    }

    /*  make sure overlay is not present at larger viewports - if someone rotates device */
    .header--wrapper:before {
        display: none;
    }

    .header__menu-button {
        display: none;
    }

}

/* MOBILE */
@media screen and (max-width: 35rem) {
    .nav__primary {
        flex-direction: column;
        padding-inline: 1rem;
        padding-block-start: calc(var(--spacing) * 24);
        background-color: var(--color-neutral-100);
    }
}