.nav__primary {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1rem;
}

.header--wrapper {
    display: flex;
    min-height: 5rem;
    max-width: 80ch;
    min-width: var(--bp-xs);
    margin-inline: auto;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 35rem) {
    .nav__primary a:first-child {
        padding-block-start: var(--spacing-xl);
    }
}

/*  DESKTOP */
@media screen and (min-width: 35rem) {
    .header--wrapper {
        padding: var(--spacing) var(--spacing-lg);
    }

    .nav__primary {
        padding-block: var(--spacing-sm);
        margin-right: auto;
        flex-direction: row;
    }
}