.nav__primary {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1rem;

}

.nav__primary a {
    color: var(--color-primary-400);
}

.header--wrapper {
    display: flex;
    min-height: 5rem;
    min-width: var(--bp-xs);
    align-items: center;
    position: relative;
}

/*  DESKTOP */
@media screen and (min-width: 35rem) {
    .header--wrapper {
        padding: var(--spacing-sm) var(--spacing-md);
    }

    .nav__primary {
        padding-block: var(--spacing);
        margin-right: auto;
        flex-direction: row;
    }
}