.nav__primary {
    display: flex;
}

.nav__primary a {
    color: var(--color-primary-400);
}

.header-wrapper {
    display: flex;

}

/*  DESKTOP */
@media screen and (min-width: 56rem) {
    .header-wrapper {
        align-items: center;
        height: 5rem;
        min-width: var(--bp-xs);
        padding: var(--spacing-sm) var(--spacing-md);
    }

    .nav__primary {
        display: flex;
        gap: 1.5rem;
        margin-left: auto;
    }

    /*  make sure overlay is not present at larger viewports - if someone rotates device */
    .header-wrapper:before {
        display: none;
    }

    .header__menu-button {
        display: none;
    }

}

/* MOBILE */
@media screen and (max-width: 56rem) {
    .header-wrapper {
        --nav-width: min(80%, 300px);
        min-height: var(--bp-xs);
        height: 100dvh;

        display: block;
        min-width: initial;
    }

    .header__menu-button {
        --expandButtonMaxWidth: var(--nav-width);
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
        position: fixed;
        top: 0;
        left: 0;
        transition: border-radius 250ms ease-in-out;

        &[aria-expanded="true"] {
            width: var(--post-sidebar-width);
            margin-inline: 0;
            animation: expandButton 1200ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;

            .icon {
                animation: iconFadeSwap 1200ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
            }
        }

        &[aria-expanded="false"] {
            animation: shrinkButton 650ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;

            .icon {
                animation: iconFadeSwap 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
            }
        }
    }


    .nav__primary {
        position: fixed;
        flex-direction: column;
        gap: var(--spacing-lg);
        top: 0;
        left: 0;
        height: 100%;
        width: var(--nav-width);

        overflow-y: auto;
        padding-inline: 1rem;
        padding-block-start: calc(var(--spacing) * 24);

        background-color: var(--color-neutral-100);
        transition: transform 450ms ease-in-out;
    }

    .nav__primary[data-isopen="false"] {
        transform: translateX(calc(var(--nav-width) * -2))
    }

    /* .nav__primary a:first-of-type {
        padding-block-start: 2rem;
    } */
}