.nav__primary {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1rem;
}

.header--wrapper {
    display: flex;
    min-height: 5rem;
    width: clamp(var(--bp-xs), 100%, 100ch);
    margin-inline: auto;
    align-items: center;
    position: relative;
}
     .darkmode__switch {
        cursor: pointer;
        &:hover ,:focus-visible {
            outline: 1px solid var(--foreground-on-surface);
            outline-offset: 4px;
        }
        &:active {
            outline-style: dashed;
        }
    }
@media screen and (max-width: 35rem) {
    .nav__primary a:first-child {
        padding-block-start: var(--spacing-xxl);
    }
     .darkmode__switch {
        margin-block-start: auto;
        margin-block-end: var(--spacing-md);
    }
}

/*  DESKTOP */
@media screen and (min-width: 35rem) {
    .header--wrapper {
        padding: var(--spacing) 0;
        padding-block: var(--spacing-xxl);
    }

    .nav__primary {
        padding-block: var(--spacing-sm);
        margin-right: auto;
        flex-direction: row;
        width: 100%;
    }

}

@media screen and (min-width: 48.01rem) {
    
    .darkmode__switch {
        margin-inline-start: auto;
    }
}