@media screen and (max-width: 35rem ) {
    .homepage {
        padding-block-start: 4rem;
    }
}    

.homepage--latest-posts {

}
.latest-posts__list li{
    border: var(--border-thin);
    border-color: var(--border-color);
    padding: var(--spacing);
}