
.link {
    color: var(--link-color-override, var(--link-color));
    text-decoration-color: currentColor;
    text-decoration-thickness: 0.125em;
    text-underline-offset: 0.2em;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.link:not(.link--surface) {
    text-decoration: underline;
}

.link--surface {
    --link-color-override: currentColor;
     text-decoration: none;
     display: inline-block;
}

.link--surface:focus-visible,
.link--surface:hover {
  outline: 2px solid currentColor;
  outline-offset: 0.25em;
}

a:not([class]):hover,
a:not([class]):focus-visible,
.link:hover,
.link:focus-visible {
    text-decoration-style: dotted;
}

.link--heading {
    position: relative;
    text-decoration: none;
    width: fit-content;

    &:hover,
    &:focus-visible {
        text-decoration: underline;
        text-decoration-style: dotted;

        &:after {
            content: '#';
            position: absolute;
            right: -1.5ch;
            top: 50%;
            transform: translateY(-50%);
            font-size: var(--font-size-xl);
            font-weight: 600;
            font-family: var(--font-accent);
            color: var(--text-muted);
        }
    }
}

.link-w-icon {
    display: grid;
    grid-template-columns: 24px fit-content(100%);
    align-items: center;
    gap: var(--spacing-sm);
}


.external {
    align-items: baseline;
}
.external .icon {
    margin-left: var(--spacing-sm);
}

.external .icon {
    flex-shrink: 0;
}