.link {
    --link-color: var(--link-on-surface, currentColor);

    color: var(--link-color);
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color, currentColor);
    text-decoration-thickness: 0.125em;
    text-underline-offset: 0.2em;
    transition: text-decoration-color 0.2s ease;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;
}

a:not([class]):hover,
a:not([class]):focus-visible,
.link:hover,
.link:focus-visible {
    text-decoration-style: dotted;
    text-decoration-color: var(--link-underline-color, currentColor);
}

.link--heading {
    position: relative;
    text-decoration: none;
    width: fit-content;

    &:hover,
    &:focus-visible {
        text-decoration: underline;
        text-decoration-style: dotted;

        &:after {
            content: '#';
            position: absolute;
            right: -1.5ch;
            top: 50%;
            transform: translateY(-50%);
            font-size: var(--font-size-xl);
            font-weight: 600;
            font-family: var(--font-accent);
            color: var(--text-muted);
        }
    }
}

.link-w-icon {
    display: grid;
    grid-template-columns: 24px fit-content(100%);
    align-items: center;
    gap: var(--spacing);
}


.external {
    align-items: baseline;
}
.external .icon {
    margin-left: var(--spacing);
}

.external .icon {
    flex-shrink: 0;
}