.list {
  --list-spacing: 0.25em;

  margin: 0;
  list-style-type: none;
  padding-inline-start: var(--spacing);
  line-height: var(--line-height-relaxed);
  font-size: var(--font-size-base, inherit);
}

.list--none li {
  padding: 0;
}

.list:not(.list--none) li {
  position: relative;
  padding-inline-start: 1.25em;
}

.list li::before {
  --list-marker-bg-color: var(--background-color, transparent);
  --list-color: var(--foreground-color, var(--color-secondary-400));
  --list-border: none;
  --list-border-radius: 0;

  content: '';
  position: absolute;
  left: 0.15em;
  top: 0.35em;
  width: 0.6rem;
  aspect-ratio: 1;
  border: var(--list-border);
  border-color: var(--border-color);
  border-radius: var(--list-border-radius);
  background-color: var(--list-marker-bg-color);
  color: var(--list-color);
}

/* Spacing variants */
.list--tight {
  --list-spacing: var(--spacing-sm);
}

.list--normal {
  --list-spacing: var(--spacing);
}

.list--loose {
  --list-spacing: var(--spacing-lg);
}

.list li:not(:last-child) {
  margin-block-end: var(--list-spacing);
}

.list--disc li::before {
  background: conic-gradient(var(--list-marker-bg-color), var(--surface-color), var(--border-color));
  width: 0.75rem;
  left: 0;
  top: 0.35em;
}

/* Unordered list variants */
.list--disc li::before,
.list--circle li::before {
  --list-border-radius: var(--radius-circle);
}

.list--circle li::before {
  --list-marker-bg-color: var(--surface-color);
  --list-border: var(--border-width-thin) solid currentColor;
}

/* Ordered list variants */
.list--decimal,
.list--lower-alpha,
.list--upper-alpha,
.list--lower-roman,
.list--upper-roman {
  counter-reset: ol-counter;

  & li::before {
    counter-increment: ol-counter;
    font-weight: 600;
    top: 0;
    left: -0.5em;
    width: 1.5em;
    text-align: right;
    white-space: nowrap;
  }
}

.list--upper-roman li::before,
.list--lower-roman li::before {
  width: 1.75em;
  left: -0.75em;
}

.list--decimal li::before {
  content: counter(ol-counter, decimal) '.';
}

.list--lower-alpha li::before {
  content: counter(ol-counter, lower-alpha) '.';
}

.list--upper-alpha li::before {
  content: counter(ol-counter, upper-alpha) '.';
}

.list--lower-roman li::before {
  content: counter(ol-counter, lower-roman) '.';
}

.list--upper-roman li::before {
  content: counter(ol-counter, upper-roman) '.';
}

/* Definitional list */
.list--definition {
  display: grid;
  gap: var(--spacing-sm);
}

.list--definition dt {
  font-weight: 600;
}

.list--definition dd {
  margin: 0;
  color: var(--text-muted);
}