.list {
    margin: 0;
    list-style-type: none;
    font-size: inherit;
    padding-inline-start: calc(var(--spacing) * 2);
}
.list li {
  position: relative;
  padding-inline-start: 1rem;
}
.list li::before {
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 0.6rem;
  height: 0.6rem;
}
/* Spacing variants */
.list--tight {
  --list-spacing: 0.15lh;
}

.list--normal {
  --list-spacing: 0.25lh;
}

.list--loose {
  --list-spacing: 0.4lh;
}

.list li > *:not(:last-child) {
    margin-block-end: var(--list-spacing, 0.25em);
}
.list li:not(:last-child) {
    margin-block-end: calc(var(--list-spacing, 0.25em) * 2);
}

/* Unordered list variants */
.list--disc li::before {
    content: '';
    background-color: var(--color-secondary-400);
    border-radius: 50%;
}

.list--circle li::before {
    content: '';
    border: 1px solid var(--color-secondary-400);
    background-color: var(--color-secondary-100);
    border-radius: 50%;
}

.list--square li::before {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0;
}

/* Ordered list variants */
:where(.list--decimal,
       .list--lower-alpha,
       .list--upper-alpha,
       .list--lower-roman,
       .list--upper-roman) li::before {
    content: counter(list-item) '.';
    counter-increment: list-item;
    font-weight: 600;
    color: var(--color-secondary-400);
    font-size: 0.9em;
    top: 0;
}
.list--decimal {
  list-style-type: decimal;
}


.list--lower-alpha {
  list-style-type: lower-alpha;
}

.list--upper-alpha {
  list-style-type: upper-alpha;
}

.list--lower-roman {
  list-style-type: lower-roman;
}

.list--upper-roman {
  list-style-type: upper-roman;
}