.list {
  --list-spacing: 0.25em;

  margin: 0;
  list-style-type: none;
  padding-inline-start: var(--spacing-sm);
  line-height: var(--line-height-relaxed);
  font-size: var(--font-size-base, inherit);
}

.list:not(.list--none) li {
  position: relative;
  padding-inline-start: 1.5em;
}

.list li::before {
  --list-marker-bg-color: var(--background-color, transparent);
  --list-color: var(--foreground-color, var(--color-secondary-400));
  --list-border-color: var(--border-color, transparent);
  --list-border: none;
  --list-border-radius: 0;

  content: '';
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 0.6rem;
  aspect-ratio: 1;
  border: var(--list-border);
  border-color: var(--list-border-color);
  border-radius: var(--list-border-radius);
  background-color: var(--list-marker-bg-color);
  color: var(--list-color);
}

/* Spacing variants */
.list--tight {
  --list-spacing: 0.15lh;
}

.list--normal {
  --list-spacing: 0.25lh;
}

.list--loose {
  --list-spacing: 0.4lh;
}

.list li:not(:last-child) {
  margin-block-end: var(--list-spacing);
}

.list li:last-child {
  margin-block-end: calc(var(--list-spacing) * 2);
}

.list--disc li::before {
  background: conic-gradient(var(--list-marker-bg-color), var(--surface-color), var(--list-border-color));
  width: 0.75rem;
  left:0.35rem;
  top: 0.35rem;
}

/* Unordered list variants */
.list--disc li::before,
.list--circle li::before {
  --list-border-radius: var(--radius-circle);
}

.list--circle li::before {
  --list-marker-bg-color: var(--surface-color);
  --list-border: var(--border-thin);
}

/* Ordered list variants */
.list--decimal,
.list--lower-alpha,
.list--upper-alpha,
.list--lower-roman,
.list--upper-roman {
  counter-reset: ol-counter;

  & li::before {
    counter-increment: ol-counter;
    font-weight: 600;
    top: 0;
    width: 1.5em;
  }
}

.list--decimal li::before {
  content: counter(ol-counter, decimal) '.';
}

.list--lower-alpha li::before {
  content: counter(ol-counter, lower-alpha) '.';
}

.list--upper-alpha li::before {
  content: counter(ol-counter, upper-alpha) '.';
}

.list--lower-roman li::before {
  content: counter(ol-counter, lower-roman) '.';
}

.list--upper-roman li::before {
  content: counter(ol-counter, upper-roman) '.';
}