.octagon--cluster {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  opacity: 0.25;
  pointer-events: none;
}

@media screen and (min-width: 48rem) {
  .octagon--cluster {
    right: -250px;
  }
}

.octagon {
  display: block;
  /* filter: saturate(0.75) drop-shadow(0 6px 18px rgba(0, 0, 0, 0.06)); */
}

/* Sizing */
.octagon__small {
  width: 140px;
}

.octagon__large {
  width: 220px;
}

/* Alignment offsets */
.octagon--cluster__top {
  transform: translateX(-30%);
}

.octagon--cluster__bottom {
  transform: translateX(-60%);
}