body:has(.overlay--visible) {
    overflow: hidden;
}

.overlay-backdrop {
    position: fixed;
    inset: 0;
    opacity: 0;
    background: var(--color-neutral-900);
    transition: opacity var(--overlay-transition-duration) ease-in-out;
    z-index: 1;
    pointer-events: none;
}

body:has(.overlay--visible) .overlay-backdrop {
    opacity: 0.5;
    pointer-events: auto;
}

.overlay {
    position: relative;
    isolation: isolate;
    z-index: 2;
}
/* make sure to give position to the control to ensure the stacking context works */
.overlay-control {
    z-index: 3;
}
@media (prefers-reduced-motion: reduce) {
    .overlay-backdrop {
        transition: none !important;
    }
}