.post-note {
    --border: 1px ridge var(--color-neutral-300);
    background-color: var(--color-neutral-200);
    padding: 0.5em 0.5em;
    margin-inline: auto;
    border-top: var(--border);
    border-bottom: var(--border);
}

@media screen and (min-width: 48rem) {
    .post-note {
        float: right;
        width: 25rem;
        border-radius: 0.25em;
        border: var(--border);

    }
}