.post-note {
    background-color: var(--color-neutral-800);
    color: var(--color-neutral-100);
    padding: 0.5em 0.5em;
    margin-inline: auto;
    box-shadow:
        inset 2px 2px 4px rgba(0, 0, 0, 0.1),
        inset -2px -2px 4px rgba(255, 255, 255, 0.8);
    border: 1px ridge var(--color-neutral-300);
    border-radius: var(--radius-md);
}

.post-note__first {
    --note-heading-color: var(--color-primary-400);

    display: flex;
    align-items: center;
    gap: 0.5em;
    color: var(--note-heading-color);
}

.post-note__icon {
    fill: var(--note-heading-color);
    background: radial-gradient(circle, var(--color-neutral-100) 0%, transparent 60%);
    border-radius: var(--radius-circle);
    padding: 0.25rem;
}