.project-card-container {
  container-type: inline-size;
  container-name: project-card;
  /* width: fit-content; */
}

.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: clamp(16rem, 100%, 48rem);
  overflow: hidden;
  outline: 1px solid var(--color-neutral-a2);
  padding: var(--spacing-lg);
  background: var(--surface);
}

@container project-card (max-width: 25rem) {
  .project-card {
    padding: var(--spacing-xs);
  }
}

.project-card__image {
  margin-bottom: var(--spacing-sm);
}

.project-card__content {
   flex: 1;
}

.project-card__title {
  margin: 0;
}

.project-card__description {}

.project-card__tech {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
  font-size: 0.85rem;
  opacity: 0.7;
}

.project-card__links {
  margin-top: var(--spacing-sm);
  display: flex;
  gap: var(--spacing-sm);
}