.select-wrapper {
    --select-foreground-color: var(--foreground-color, var(--color-neutral-900));
    --select-background-color: var(--background-color, var(--color-neutral-100));
    --select-border-color: var(--border-color, var(--color-neutral-700));

    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.select-label {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-snug);
    font-weight: 600;
    color: var(--select-foreground-color);
}

.select {
    appearance: none;
    padding: var(--spacing-sm) var(--spacing);
    background: var(--select-background-color);
    color: var(--select-foreground-color);
    border-color: var(--select-border-color);
    border-radius: var(--radius-md);
    font: inherit;
    cursor: pointer;
    transition: border-color 0.15s, box-shadow 0.15s;
}

.select:focus-visible {
    --select-border-color: var(--color-primary-400);
    /* outline: none; */
    box-shadow: var(--shadow-sm);
}

.select--error {
    --select-border-color: var(--color-danger-400);
}

.select-helper {
    font-size: var(--font-size-xs);
    color: var(--text-muted);
}

.select-error {
    font-size: var(--font-size-xs);
    color: var(--color-danger-400);
    font-weight: 600;
}