.tablist {
    min-width: 0;
}

.tablist__header {
    display: block;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
    margin-block-end: var(--spacing-sm);
    padding-inline: var(--spacing-md);

    &::-webkit-scrollbar {
        height: 6px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.3);
    }
}

.tablist__content {
    border-radius: var(--radius-md);

}

.code__reference {
    /* background-color: var(--color-code-dark); */
    padding-inline: 1em;
    padding-block-end: 1em;

    &:not(.height-min) pre {
        height: 30rem;
    }

    &.height-min .tablist__content {

    /* &::-webkit-scrollbar-track {
        background: transparent;
    } */

        max-height: 30.2rem;
        overflow-y: scroll;
    }

    & .tablist__header {
        display: flex;
        overflow-x: auto;
        gap: 0.5rem;
        padding-block: 0.5rem;
        scroll-behavior: smooth;
        scrollbar-color: var(--color-accent-400) transparent;
    }

    & .tablist__header-tab {
        flex-shrink: 0;
        --button-spinner-width: 0px;
        --button-icon-width: 0px;
        --button-padding-x: 0.75rem;
        --button-padding-y: 0.25rem;
        --button-font-size: 0.875rem;
        --button-outline-offset: 2px;
        --button-margin: 0;
        --button-shadow: none;
    }
}

.tablist__header-tab {
    margin-inline: 0;
}