.tablist {
    --tablist-height: max(10rem, 100%);

    min-width: 0;
    height: var(--tablist-height);
    background-color: var(--color-neutral-200);
    outline: 2px solid var(--foreground-on-surface);
    outline-offset: -2px;
}

.tablist.tablist--vertical {
    --tablist-height: max(24rem, 100%);

    display: grid;
    grid-template-columns: minmax(15ch, 10rem) minmax(0, 1fr);
    column-gap: var(--spacing-sm);
    align-items: start;
}

.tablist__header {
    display: flex;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
    margin-block-end: var(--spacing-sm);
    overflow-x: auto;
    gap: var(--spacing);
    padding: var(--spacing);

    &::-webkit-scrollbar {
        cursor: pointer;
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.3);
    }
}

.tablist__header-tab {
    --button-padding-x: var(--spacing);
    --button-padding-y: var(--spacing-sm);
    --button-font-size: 0.875rem;
    --button-outline-offset: 2px;
    --button-margin: 0;
    --button-shadow: none;

    &:hover {
        transform: scale(1.025);
    }
    &[aria-selected="true"] {
        position: relative;
        border-left-width: 2px !important;
        font-weight: 600;
        transform: translateY(-1px) scale(1.025);
    }
}

.tablist__header[aria-orientation="horizontal"] {
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.tablist__header[aria-orientation="vertical"] {
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
    height: 100%;
}

.tablist--vertical .tablist__header {
    margin-block-end: 0;
}

.tablist__content,
.tablist__content-panel {
    border-radius: var(--radius-md);
}

.tablist__content {
    background-color: var(--surface);
}

.tablist__content-panel {
    padding: var(--spacing);
    height: calc(var(--tablist-height) - (var(--spacing) * 2));
    outline: 1px solid pink;
}

.tablist__content:focus-within {
    outline: 2px solid currentColor;
    outline-offset: -2px;
}

.tablist__content-panel>* {
    overflow-y: auto;
}