.about-page {
    container-name: about-container;
    container-type: inline-size;
    padding-block-start: var(--spacing-3xl);
}

.about-page__intro {
    display: flex;
    gap: var(--spacing-xl);
    flex-wrap: wrap;
}

.about-page__intro--portrait {
    background-color: transparent;
    margin-inline: auto;
    flex-basis: 100%;
    img {
        margin-inline: auto;
    }
}

@container about-container (min-width: 35rem) {
    .about-page__intro {
        flex-wrap: nowrap;
    }

    .about-page__intro--text {
        order: 1;
    }

    .about-page__intro--portrait {
        order: 2;
    }
}