@keyframes expandButton {
    0% {
        width: auto;
        transform: scale(1);
        box-shadow: -2px -2px 4px 7px hsl(from var(--color-neutral-100) h s l / 0.5);
        border-radius: var(--radius-md);
    }
    5% {
        box-shadow: 
            -2px -2px 8px 12px hsl(from var(--color-neutral-100) h s l / 0.6),
            0 0 0 6px var(--color-neutral-100);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 
            -2px -2px 12px 16px hsl(from var(--color-neutral-100) h s l / 0.4),
            0 0 0 3px var(--color-neutral-100);
    }
    75% {
        box-shadow: -2px -2px 6px 10px hsl(from var(--color-neutral-100) h s l / 0.2);
    }
    99% {
        box-shadow: 
            -2px -2px 4px 7px hsl(from var(--color-neutral-100) h s l / 0.5),
            0 0 0 1px var(--color-neutral-100);
        border-radius: var(--radius-md);
    }
    100% {
        width: var(--expanded-button--width);
        transform: scale(1);
        box-shadow: none;
        border-radius: 0;
    }
}

@keyframes shrinkButton {
    0% {
        width: var(--expanded-button--width);
        transform: scale(1);
        box-shadow: none;
        border-radius: 0;
    }
    5% {
        box-shadow: 
            -2px -2px 8px 12px hsl(from var(--color-neutral-100) h s l / 0.6),
            0 0 0 6px var(--color-neutral-100);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 
            -2px -2px 12px 16px hsl(from var(--color-neutral-100) h s l / 0.4),
            0 0 0 3px var(--color-neutral-100);
    }
    75% {
        box-shadow: -2px -2px 6px 10px hsl(from var(--color-neutral-100) h s l / 0.2);
    }
    99% {
        box-shadow: 
            -2px -2px 4px 7px hsl(from var(--color-neutral-100) h s l / 0.5),
            0 0 0 1px var(--color-neutral-100);
        border-radius: var(--radius-md);
    }
    100% {
        width: auto;
        transform: scale(1);
        box-shadow: none;
        border-radius: var(--radius-md);
    }
}