.image {
    position: relative;
}

.image>img {
    font-style: italic;
    shape-margin: 0.75rem;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.image.image--loaded>img {
    opacity: 1;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    background-color: var(--color-neutral-200);
    border-radius: var(--image-border-radius, 0);
}

.image--rectangleLogo img,
.image--logo img {
    object-fit: contain;
}

.image--featured,
.image--hero {
    --image-border-radius: var(--radius-lg);
}

.image--banner {
    --image-border-radius: var(--radius-md);
}

.image--general {
    --image-border-radius: var(--radius-sm);
}

@media (max-width: 768px) {

    .image--hero,
    .image--featured {
        --image-border-radius: var(--radius-md);
    }

    .image--banner {
        --image-border-radius: var(--radius-sm);
    }

    .image--card {
        --image-border-radius: var(--radius-sm);
    }
}


@media (prefers-reduced-motion: reduce) {

    .image,
    .image-wrapper::before {
        transition: none !important;
        animation: none !important;
    }
}

@media print {
    .image {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}