    :root {
        /* 
            100 as background + neutral-600/700/800 as foreground(text)
            200 as background + neutral-500/600/700/800 as foreground(text)
            400/600 as background + neutral-100/200 as foreground(text)
        */
        /* Primary (Blue) */
        --color-primary-100: hsl(203, 31%, 95%);
        --color-primary-200: hsl(211, 38%, 88%);
        --color-primary-400: hsl(212, 75%, 40%);
        --color-primary-600: hsl(212, 76%, 28%);

        /* Secondary (Green) */
        --color-secondary-100: hsl(155, 33%, 93%);
        --color-secondary-200: hsl(153, 29%, 84%);
        --color-secondary-400: hsl(155, 65%, 26%);
        --color-secondary-600: hsl(155, 67%, 18%);

        /* Accent (Pink) */
        --color-accent-100: hsl(327, 22%, 90%);
        --color-accent-200: hsl(316, 25%, 88%);
        --color-accent-400: hsl(314, 71%, 41%);
        --color-accent-600: hsl(314, 71%, 28%);

        /* Danger */
        --color-danger-100: hsl(0, 32%, 95%);
        --color-danger-200: hsl(0, 32%, 86%);
        --color-danger-400: hsl(0, 87%, 35%);
        --color-danger-600: hsl(0, 86%, 29%);

        /* Warning */
        --color-warning-100: hsl(45, 100%, 93%);
        --color-warning-200: hsl(45, 100%, 86%);
        --color-warning-400: hsl(43, 96%, 30%);
        --color-warning-600: hsl(43, 96%, 20%);

        /* Success */
        --color-success-100: hsl(140, 44%, 92%);
        --color-success-200: hsl(140, 44%, 84%);
        --color-success-400: hsl(142, 54%, 30%);
        --color-success-600: hsl(142, 61%, 26%);

        /* Info */
        --color-info-100: hsl(188, 66%, 92%);
        --color-info-200: hsl(189, 91%, 87%);
        --color-info-400: hsl(188, 66%, 79%);
        --color-info-600: hsl(188, 76%, 20%);

        /* Neutral colors */
        --color-neutral-100: hsl(0, 0%, 100%);
        --color-neutral-200: hsl(0, 0%, 88%);
        --color-neutral-300: hsl(0, 0%, 70%);
        --color-neutral-400: hsl(0, 0%, 46%);
        --color-neutral-500: hsl(0, 0%, 38%);
        --color-neutral-600: hsl(0, 0%, 30%);
        --color-neutral-700: hsl(0, 0%, 24%);
        --color-neutral-800: hsl(0, 0%, 15%);
        --color-neutral-900: hsl(0, 0%, 5%);

        --color-code-dark: hsl(225, 13%, 13%);
        --color-code-light: hsl(214, 13%, 90%);
        --color-inline-bg: rgb(244, 244, 229);

        /* alpha values */
        --color-neutral-a2-dark: color-mix(in srgb, var(--color-neutral-900) 20%, transparent);
        --color-neutral-a4-dark: color-mix(in srgb, var(--color-neutral-900) 40%, transparent);
        --color-neutral-a6-dark: color-mix(in srgb, var(--color-neutral-900) 60%, transparent);
        --color-neutral-a7-dark: color-mix(in srgb, var(--color-neutral-900) 70%, transparent);
        --color-neutral-a9-dark: color-mix(in srgb, var(--color-neutral-900) 90%, transparent);

        --color-neutral-a2-light: color-mix(in srgb, var(--color-neutral-100) 20%, transparent);
        --color-neutral-a4-light: color-mix(in srgb, var(--color-neutral-100) 40%, transparent);
        --color-neutral-a6-light: color-mix(in srgb, var(--color-neutral-100) 60%, transparent);
        --color-neutral-a7-light: color-mix(in srgb, var(--color-neutral-100) 70%, transparent);
        --color-neutral-a9-light: color-mix(in srgb, var(--color-neutral-100) 90%, transparent);

        /* Emphasis colors */
        --color-emphasis-100: hsl(16, 84%, 60%);
        --color-emphasis-200: hsl(262, 83%, 58%);
        --color-emphasis-300: hsl(172, 66%, 50%);
        --color-emphasis-400: hsl(75, 85%, 60%);
        --color-emphasis-500: hsl(330, 81%, 60%);
        --color-emphasis-600: hsl(198, 93%, 60%);
        --color-emphasis-700: hsl(142, 71%, 45%);
        --color-emphasis-800: hsl(234, 89%, 74%);
        --color-emphasis-900: hsl(45, 93%, 58%);
    }