:root {
    --shadow-xs: 0 1px 2px color-mix(in srgb, var(--foreground-on-surface) 15%, transparent);
    --shadow-sm: -4px 0 12px  color-mix(in srgb, var(--foreground-on-surface) 15%, transparent);
    --shadow-md: -8px 0 24px color-mix(in srgb, var(--foreground-on-surface) 15%, transparent);
    --shadow-lg: -12px 0 36px color-mix(in srgb, var(--foreground-on-surface) 15%, transparent);
}