.post-note {
    position: relative;
    padding-inline: clamp(var(--spacing), var(--spacing-sm) + 0.25vw, var(--spacing-lg));
    padding-block: var(--spacing-lg);
    box-shadow: inset 2px 2px 4px color-mix(in srgb, var(--background-color) 10%, transparent),
        inset -1px -1px 2px color-mix(in srgb, var(--background-color) 90%, transparent);
    border-left-width: 3px !important;
}

.post-note.has-icon {
    padding: var(--spacing-lg) var(--spacing-lg);
}

.post-note__icon {
    position: absolute;
    top: -0.65em;
    left: -1.5em;

    pointer-events: none;
    background-color: inherit;
    color: inherit;
    fill: currentColor;

    border: var(--border-thin);
    border-color: inherit;
    border-right: var(--spacing-xl);
    border-top: var(--spacing-xl);
    border-radius: var(--radius-circle);
}