.post-card {
    --border-color: var(--color-neutral-200);
    position: relative;
    height: 100%;
    overflow: hidden;
}

.post-card__overlay {
    cursor: pointer;
    position: absolute;
    inset: 0;
    z-index: 1;
}

.post-card .selectable-text {
    pointer-events: auto;
    user-select: text;
    cursor: text;
}

.post-card__heading,
.post-card__excerpt,
.post-card__meta {
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.post-card__meta  {
    position: absolute;
    bottom: 0;
}
.post-card .post-card__image {
    display: inline-block;
    overflow: hidden;
    width: 100%;

    img {
        width: max(250px, 100%) !important;
        height: 100%;
        transform: scale(1.05) translate(-2%, -2%);
        filter: grayscale(100%) contrast(0.75);
        transition:
            filter 600ms cubic-bezier(0, 0.25, 0.3, 1),
            transform 600ms cubic-bezier(0.22, 1, 0.36, 1);
    }
}

.post-card.post-card__featured .post-card__image {
    height: max(100px, 50%);

    img {
        transform: scale(1.25) translate(-8%, -8%);
    }
}

.post-card:not(.post-card__featured) {
    .post-card__image {
        position: absolute;
        inset: 0;
        height: 100%;
        opacity: 0.5;
    }

    &:hover .post-card__image,
    &:focus-within .post-card__image {
        img {
            transform: scale(1) translate(0, 0);
            filter: grayscale(50%) saturate(1.05);
        }
    }
}

.post-card:hover .post-card__image,
.post-card:focus-within .post-card__image {
    img {
        transform: scale(1) translate(0, 0);
        filter: grayscale(0%) saturate(1.05);
    }
}

.post-card:has(.post-card__link:active),
.post-card:has(.post-card__link:focus-visible),
.post-card:hover {
    box-shadow: var(--shadow-sm);
    border-bottom-color: var(--color-neutral-400) !important;
    border-right-color: var(--color-neutral-400) !important;
}

.post-card .post-card__link {
    --link-color-override: transparent;
    outline: 0;
}



@media (prefers-reduced-motion: reduce) {
    .post-card__image img {
        transform: none;
        transition: none;
    }
}