.post-card {
    position: relative;
    height: max(150px, 100%);
    overflow: hidden;
    outline: 1px solid var(--color-neutral-a2-dark);
    transition: outline-offset 150ms ease-in-out,
        outline-color 150ms ease-in-out;
}

.post-card__overlay {
    cursor: pointer;
    position: absolute;
    inset: 0;
    z-index: 1;
}

.post-card .selectable-text {
    pointer-events: auto;
    user-select: text;
    cursor: text;
}

.post-card__heading,
.post-card__excerpt,
.post-card__meta {
    z-index: 2;
    pointer-events: none;
}

.post-card__heading {
    position: relative;
}

.post-card__excerpt {
    position: absolute;
    top: calc(50% + var(--spacing));
}

.post-card__meta {
    position: absolute;
    bottom: 0;
}

.post-card .post-card__image {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    background-color: transparent !important;

    img {
        width: max(250px, 100%) !important;
        height: 100%;
        transform: scale(1.15) translate(-4%, -4%);
        filter: grayscale(100%) contrast(0.75);
        transition:
            filter 600ms cubic-bezier(0, 0.25, 0.3, 1),
            transform 600ms cubic-bezier(0.22, 1, 0.36, 1);
    }
}

.post-card[data-layout="large"] .post-card__image {
    height: clamp(100px, 50%, 100%) !important;
}

.post-card {
    .post-card__image {
        position: absolute;
        inset: 0;
        height: 100%;
        opacity: 0.5;

        img {
            height: 100%;
        }
    }
}

.post-card:has(.post-card__link:active),
.post-card:has(.post-card__link:focus-visible),
.post-card:hover,
.post-card:focus-within {
    box-shadow: var(--shadow-sm);
    outline-offset: 4px;
    outline-color: var(--color-neutral-a4-dark);

    .post-card__image {
        img {
            transform: scale(1) translate(0, 0);
            filter: grayscale(0%) saturate(1.05);
        }
    }
}

.post-card:has(.post-card__link:active) {
    outline-style: dashed;
}

.post-card .post-card__link {
    --link-color-override: transparent;
    outline: 0;
}

@media (prefers-reduced-motion: reduce) {
    .post-card__image img {
        transform: none;
        transition: none;
    }
}

/* grid layout */
.post-card__grid-container {
    container-type: inline-size;
    container-name: posts-grid;
}

.post-card__grid {
    --card-grid-col-template: 1fr;
    display: grid;
    padding: 0;
    grid-template-columns: var(--card-grid-col-template);
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: dense;
    gap: var(--spacing);
}

.post-card__grid li {
    grid-row: auto;
    grid-column: auto;
}

@container posts-grid (min-width: 40rem) {
    .post-card__grid {
        --card-grid-col-template: repeat(5, 1fr);
        gap: var(--spacing-lg);
    }

    /* left hand side */
    .post-card__grid>li {
        grid-column: 4/6;
    }

    .post-card__grid>li[data-layout="large"] {
        grid-column: 1 / 4;
        grid-row: span 3;
    }

    /* Right hand side */
    .post-card__grid[data-side="right"] {
        li[data-layout="large"] {
            grid-column: 3 / 6;
        }

        li {
            grid-column: 1 / 3;
        }
    }
}