.post-section {
    --post-section-spacer: var(--spacing-xxl);

    position: relative;
    padding-block: var(--spacing-xl);
}


.post-section p {
    max-width: 75ch;
}
.post-section h2, .post-section h3 {
    scroll-margin-block-start: var(--spacing-xl);
}

.post-section:not(:last-of-type)::after {
    content: '';
    position: absolute;
    bottom: calc(var(--post-section-spacer) / -2);
    height: 1px;
    width: min(var(--bp-characters), 75%);
    left: 0;
    right: 0;
    margin-inline: auto;
    background-color: var(--text-muted);
    box-shadow: 1px 4px 10px var(--foreground-on-surface);
    pointer-events: none;
}

.post-section+.post-section {
    margin-block-start: var(--post-section-spacer);
}

@media screen and (max-width: 35rem) {
    .post-section {
       --post-section-spacer: var(--spacing-xl);  
    }

    .post-section:not(:last-of-type)::after {
         width: min(95%);
    }
}