.post-section .heading .link--heading {
        text-decoration: underline;
        text-decoration-color: transparent;

    &:hover {
        text-decoration-style: dashed;
        text-decoration-color: currentColor;
    }

    &:focus-within {
            text-decoration-style: solid;
            text-decoration-color: currentColor;
        }
}