.post__banner {
  --post__banner_text-color: var(--color-neutral-100);
  margin-block-end: var(--spacing-md);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  aspect-ratio: 3/1;
  isolation: isolate;
    z-index: 0;
}

.post__banner__image {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
  border-radius: var(--radius-lg);
}

.post__banner__text {
  /* --heading-color: var(--post__banner_text-color); */

  background-color: var(--color-neutral-a4-light);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  row-gap: var(--spacing);

  align-items: center;
  justify-items: center;
}

.post__banner__text-heading {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
}

.post__banner__text-subtitle {
  color: var(--post__banner_text-color);
  grid-column: 1 / -1;
  grid-row: 2;
  text-align: center;
}

@media (max-width: 35rem) {
  .post__banner {
    grid-template-rows: repeat(3, 1fr);
    aspect-ratio: auto;
  }

  .post__banner__image {
    border-radius: 0;
  }

  .post__banner__text {
    padding: 0.5rem 1rem;
  }
}