.post__banner {
  margin-block-end: var(--spacing-lg);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  aspect-ratio: auto;
  isolation: isolate;
  z-index: 0;
}

.post__banner__image {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
  border-radius: var(--radius-lg);
  border: 8px solid var(--color-neutral-a6);
  outline: 2px solid var(--color-neutral-a6);
}

.post__banner__text {
  background-color: color-mix(in srgb, var(--color-neutral-900) 30%, transparent);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  row-gap: var(--spacing-xs);
  align-items: center;
  justify-items: center;
}

.post__banner__text-heading {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
  max-width: 85%;
  margin-inline: auto;
}

.post__banner__text-subtitle {
  grid-column: 1 / -1;
  grid-row: 2;
  text-align: center;
  position: relative;
  width: 80%;
  margin-inline: auto;
  z-index: 0;
  color: var(--color-neutral-100);

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -25%;
    left: -15%;
    transform: translateY(-0.2lh);
    width: 120%;
    height: 200%;
    background-color: var(--color-neutral-600);
    border: 2px solid var(--surface);
    border-radius: 0 10px 10px 0;
  }
}

@media (max-width: 35rem) {
  .post__banner {
    grid-template-rows: repeat(3, 1fr);
  }

  .post__banner__image {
    border-radius: 0;
  }

  .post__banner__text {
    padding: 0.5rem 1rem;
  }

  .post__banner__text-subtitle {
    width: 80%;
  }

  .post__banner__text-subtitle::before {
    width: max(300px, 100vw);
    left: -35%;
  }
}