.post-section {
    position: relative;
    padding-block-end: calc(var(--spacing) * 4);
}

.post-section::after {
    content: '';
    position: absolute;
    bottom: 1em;
    height: 1px;
    width: 50%;
    left: 0;
    right: 0;
    margin-inline: auto;
    background-color: var(--color-neutral-200);
    box-shadow: 1px 4px 10px var(--color-neutral-800);
    pointer-events: none;
}