
.post-card {
    box-shadow: var(--shadow-sm);
    cursor: pointer;
}

.post-card:hover {
    box-shadow: var(--shadow-md);

    .post-card__image {
        img {
            width: 100% !important;
        }
    }
}

.post-card .post-card__image {
    display: inline-block;
    border: 1px solid red;
    height: 100px;

    overflow: hidden;
    img {
        width: 200%  !important;
        height: auto;
    }
}