.post-note {
    position: relative;
    padding-inline: clamp(var(--spacing-sm), var(--spacing) + 0.25vw, var(--spacing-md));
    box-shadow: inset 2px 2px 4px color-mix(in srgb, var(--postnote-bg-color) 10%, transparent),
        inset -1px -1px 2px color-mix(in srgb, var(--postnote-bg-color) 90%, transparent);
    border-left-width: 3px;
}

.post-note.has-icon {
    padding-block: var(--spacing-lg) var(--spacing-md);
}

.post-note__icon {
    --icon-position: -0.75em;

    position: absolute;
    top: var(--icon-position);
    left: var(--icon-position);

    pointer-events: none;
    background-color: inherit;
    color: inherit;
    fill: currentColor;

    border: var(--border-thin);
    border-color: inherit;
    border-right: var(--spacing-xl);
    border-top: var(--spacing-xl);
    border-radius: var(--radius-circle);
}