.post-card__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
    gap: var(--spacing-lg);
}

.post-card {
    border: var(--border-thin) var(--color-neutral-200);
    border-radius: var(--radius-lg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-sm);
    gap: var(--spacing-sm);
    cursor: pointer;
    padding-block-end: var(--spacing-lg)
}

.post-card:hover {
    box-shadow: var(--shadow-md);

    .post-card__image {
        img {
            width: 100% !important;
        }
    }
}

.post-card .post-card__image {
    overflow: hidden;
    img {
        width: 200%  !important;
        height: auto;
    }
}

.post-card__title {
    order: 1;
    text-align: center;
}

.post-card__image {
    order: 0;
}