.post-note {
    position: relative;
    color: var(--foreground-color);

    padding-block: 1.25em 1em;
    padding-inline: clamp(0.5em, 0.5em + 0.5vw, 1em);
    box-shadow: inset 2px 2px 4px color-mix(in srgb, var(--background-color) 10%, transparent),
        inset -2px -2px 4px color-mix(in srgb, var(--background-color) 90%, transparent);
    border-left-width: 3px !important;
}

.post-note__icon {
    pointer-events: none;
    background-color: inherit;
    color: inherit;
    border-radius: var(--radius-circle);
    
    border: var(--border-thin);
    border-color: inherit;
    border-right: 25px;
    border-top: 25px;
    position: absolute;
    top: -0.6em;
    left: -0.6em;
}