.primitive-diagram-resizable {
    resize: horizontal;
    overflow: hidden;
    width: 100%;
    min-width: 300px;
    max-width: 100%;
}



.primitive-diagram-box {
    --border-style: dashed;

    padding: var(--spacing-sm);
}

.primitive-diagram-box__child {
    --border-style: solid;

    padding: var(--spacing-sm) var(--spacing);
    text-align: center;

    &.child--a {
        width: 8ch;
    }

    &.child--b {
        width: 5ch;
    }

    &.child--c {
        flex-grow: 1;
    }
}


.primitive-diagram-box.inline-example {
    .primitive-diagram-box {
        position: relative;
    }

    .arrow__double {
        position: absolute;
        left: 0;
        top: calc(var(--spacing-md) + 100%);
        width: 100%;
    }
}