.divider {
    --divider-color: var(--color-neutral-a6);
    --content-color: var(--foreground-on-surface);
    --divider-inset: var(--frame-inset, var(--spacing-xl));
    --divider-focus-background: var(--color-neutral-a4);
}

.divider[data-subtle="true"] {
    --divider-color: var(--color-neutral-a2);
    --content-color: var(--color-neutral-a6);
    --divider-focus-background: var(--color-neutral-a3);
}

.divider {
    position: relative;
    text-align: center;
}

.divider::before {
    content: "";
    position: absolute;
    inset-inline: var(--divider-inset);
    top: 50%;
    transform: translateY(-50%) scaleX(0.85);
    height: 1px;
    background: linear-gradient(to right,
            transparent,
            var(--divider-color) 20%,
            var(--divider-color) 80%,
            transparent);
    transition: transform 500ms ease-in-out, background 500ms ease;
    pointer-events: none;
}

/* 
    Animate the divider and grow it if the section wrapping it receives focus 
*/
.divider-wrapper:focus-within .divider::before {
    transform: translateY(-50%) scaleX(1);
    background: var(--divider-focus-background);
}

.divider .divider__content {
    position: relative;
    display: inline-block;
    line-height: 1;
    background: var(--surface);
    padding-inline: var(--spacing-md);
    white-space: nowrap;
    color: var(--content-color);
}