.flow-2>*:not(:last-child) {
  margin-block-end: var(--spacing-sm);
}

.flow-4>*:not(:last-child) {
  margin-block-end: var(--spacing-md);
}

.flow-6>*:not(:last-child) {
  margin-block-end: var(--spacing-lg);
}

.flow-8>*:not(:last-child) {
  margin-block-end: var(--spacing-xl);
}

.flow-16>*:not(:last-child) {
  margin-block-end: var(--spacing-xxl);
}

@media screen and (max-width: 30rem) {

  .flow-2>*:not(:last-child) {
    margin-block-end: var(--spacing);
  }

  .flow-4>*:not(:last-child) {
    margin-block-end: var(--spacing-sm);
  }

  .flow-6>*:not(:last-child) {
    margin-block-end: calc(var(--spacing) * 3);
  }

  .flow-8>*:not(:last-child) {
    margin-block-end: var(--spacing-md);
  }

  .flow-16>*:not(:last-child) {
    margin-block-end: var(--spacing-xl);
  }
}