.gap-sm {
  gap: var(--spacing);
}

.gap-md {
  gap: var(--spacing-md);
}

.gap-lg {
  gap: var(--spacing-lg);
}

.gap-xl {
  gap: var(--spacing-xl);
}

.gap-2xl {
  gap: var(--spacing-xxl);
}

@media screen and (max-width: 35rem) {

  .gap-sm {
    gap: var(--spacing-sm);
  }

  .gap-md {
    gap: var(--spacing);
  }

  .gap-lg {
    gap: var(--spacing-md);
  }

  .gap-xl {
    gap: var(--spacing-lg);
  }

  .gap-2xl {
    gap: var(--spacing-xl);
  }
}


.gap-col-sm {
  column-gap: var(--spacing);
}

.gap-col-md {
  column-gap: var(--spacing-md);
}

.gap-col-lg {
  column-gap: var(--spacing-lg);
}

.gap-col-xl {
  column-gap: var(--spacing-xl);
}

.gap-col-2xl {
  column-gap: var(--spacing-xxl);
}

@media screen and (max-width: 35rem) {

  .gap-col-sm {
    column-gap: var(--spacing-sm);
  }

  .gap-col-md {
    column-gap: var(--spacing);
  }

  .gap-col-lg {
    column-gap: var(--spacing-md);
  }

  .gap-col-xl {
    column-gap: var(--spacing-lg);
  }

  .gap-col-2xl {
    column-gap: var(--spacing-xl);
  }
}

.gap-row-sm {
  row-gap: var(--spacing);
}

.gap-row-md {
  row-gap: var(--spacing-md);
}

.gap-row-lg {
  row-gap: var(--spacing-lg);
}

.gap-row-xl {
  row-gap: var(--spacing-xl);
}

.gap-row-2xl {
  row-gap: var(--spacing-xxl);
}

@media screen and (max-width: 35rem) {

  .gap-row-sm {
    row-gap: var(--spacing-sm);
  }

  .gap-row-md {
    row-gap: var(--spacing);
  }

  .gap-row-lg {
    row-gap: var(--spacing-md);
  }

  .gap-row-xl {
    row-gap: var(--spacing-lg);
  }

  .gap-row-2xl {
    row-gap: var(--spacing-xl);
  }
}