 body:has(.overlay--visible) {
     overflow: hidden;
 }

 .overlay {
     position: relative;
     isolation: isolate;
     z-index: 1;
 }

 .overlay::before {
     content: '';
     position: fixed;
     inset: 0;
     opacity: 0;
     background: var(--color-neutral-900);
     transition: opacity 250ms ease-in-out;
     z-index: -1;
     pointer-events: none;
 }

 .overlay.overlay--visible::before {
     opacity: 1;
 }
:where(.overlay-control) {
    position: relative;
    z-index: 3;
 }
 @media (prefers-reduced-motion: reduce) {
    .overlay::before {
        transition: none !important;
    }
}