/* ---------------------------------- */
/* Padding – all sides                */
/* ---------------------------------- */
.p-0 {
    padding: 0;
}

.p-sm {
    padding: var(--spacing-sm);
}

.p-md {
    padding: var(--spacing);
}

.p-lg {
    padding: var(--spacing-lg);
}

.p-xl {
    padding: var(--spacing-xl);
}

.p-2xl {
    padding: var(--spacing-xxl);
}

/* ---------------------------------- */
/* Padding – axis                     */
/* ---------------------------------- */
.px-0 {
    padding-inline: 0;
}

.px-sm {
    padding-inline: var(--spacing-sm);
}

.px-md {
    padding-inline: var(--spacing);
}

.px-lg {
    padding-inline: var(--spacing-lg);
}

.px-xl {
    padding-inline: var(--spacing-xl);
}

.px-2xl {
    padding-inline: var(--spacing-xxl);
}

.py-0 {
    padding-block: 0;
}

.py-sm {
    padding-block: var(--spacing-sm);
}

.py-md {
    padding-block: var(--spacing);
}

.py-lg {
    padding-block: var(--spacing-lg);
}

.py-xl {
    padding-block: var(--spacing-xl);
}

.py-2xl {
    padding-block: var(--spacing-xxl);
}

/* ---------------------------------- */
/* Padding – individual sides         */
/* ---------------------------------- */

.pt-0 {
    padding-block-start: 0;
}

.pt-sm {
    padding-block-start: var(--spacing-sm);
}

.pt-md {
    padding-block-start: var(--spacing);
}

.pt-lg {
    padding-block-start: var(--spacing-lg);
}

.pt-xl {
    padding-block-start: var(--spacing-xl);
}

.pt-2xl {
    padding-block-start: var(--spacing-xxl);
}

.pb-0 {
    padding-block-end: 0;
}

.pb-sm {
    padding-block-end: var(--spacing-sm);
}

.pb-md {
    padding-block-end: var(--spacing);
}

.pb-lg {
    padding-block-end: var(--spacing-lg);
}

.pb-xl {
    padding-block-end: var(--spacing-xl);
}

.pb-2xl {
    padding-block-end: var(--spacing-xxl);
}

.pl-0 {
    padding-inline-start: 0;
}

.pl-sm {
    padding-inline-start: var(--spacing-sm);
}

.pl-md {
    padding-inline-start: var(--spacing);
}

.pl-lg {
    padding-inline-start: var(--spacing-lg);
}

.pl-xl {
    padding-inline-start: var(--spacing-xl);
}

.pl-2xl {
    padding-inline-start: var(--spacing-xxl);
}

.pr-0 {
    padding-inline-end: 0;
}

.pr-sm {
    padding-inline-end: var(--spacing-sm);
}

.pr-md {
    padding-inline-end: var(--spacing);
}

.pr-lg {
    padding-inline-end: var(--spacing-lg);
}

.pr-xl {
    padding-inline-end: var(--spacing-xl);
}

.pr-2xl {
    padding-inline-end: var(--spacing-xxl);
}