.text-on-image,
.text-on-image--tight {
    --outline-color: var(--cc-color-neutral-900);
    --outline-blur: 2px;

    color: var(--cc-color-neutral-100);
    text-shadow:
        -1px -1px var(--outline-blur) var(--outline-color),
        1px -1px var(--outline-blur) var(--outline-color),
        -1px 1px var(--outline-blur) var(--outline-color),
        1px 1px var(--outline-blur) var(--outline-color),
        0 -1px var(--outline-blur) var(--outline-color),
        0 1px var(--outline-blur) var(--outline-color),
        -1px 0 var(--outline-blur) var(--outline-color),
        1px 0 var(--outline-blur) var(--outline-color);
}

.text-on-image--tight {
    --outline-blur: 1px;
}