.bubbles__card {
position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: min(28rem, 90vw);

  transform: translateX(100%);
  opacity: 0;

  transition:
    transform 280ms cubic-bezier(0.16, 1, 0.3, 1),
    opacity 200ms ease-out;
}

.bubbles__card[data-state="open"] {
  transform: translateX(0);
  opacity: 1;
}