.toggle-group {
  display: inline-flex;
  gap: var(--cc-spacing-xs);
  justify-content: center;
}

.toggle-group[data-orientation="vertical"] {
  flex-direction: column;
}

.toggle-button[aria-pressed="true"] {
  --cc-background-color: var(--cc-surface-color);
  border: var(--cc-border-width-thick) solid;
}