.toggle-group {
  display: inline-flex;
  gap: var(--spacing-xs);
}

.toggle-group[data-orientation="vertical"] {
  flex-direction: column;
}

.toggle-button[aria-pressed="true"] {
  --background-color: var(--surface-color);
  border: var(--border-width-thick) solid;
}