/* Filled style - solid background with contrasting text */
.button {
    --button-primary-color: var(--color-neutral-100);
    --button-secondary-color: var(--color-neutral-800);
    --button-accent-color: var(--color-neutral-600);

    --button-color: var(--button-primary-color);
    --button-bg-color: var(--button-secondary-color);
    --button-border-color: var(--button-accent-color);
    --button-outline-color: var(--button-accent-color);
}

/* Outline style - transparent background with colored border/text */
.button[data-style="outlined"] {
    --button-color: var(--button-secondary-color);
    --button-bg-color: var(--button-primary-color);
    --button-border-color: var(--button-accent-color);
    --button-outline-color: var(--button-accent-color);
}

.button[data-style="ghost"] {
    --button-bg-color: transparent;
    --button-color: var(--button-secondary-color);
    --button-border-color: transparent;
    --button-outline-color: var(--button-accent-color);

    &:hover {
        --button-bg-color: color-mix(in srgb, var(--button-accent-color) 10%, transparent);
    }
    &:focus-visible {
        --button-outline-color: color-mix(in srgb, var(--button-accent-color) 10%, transparent);
        --button-border-color: color-mix(in srgb, var(--button-accent-color) 25%, transparent);
        outline-offset: var(--spacing);
    }
     &:active,
     &[data-pressed="true"] {
        outline-style: dashed;
       --button-bg-color: color-mix(in srgb, var(--button-accent-color) 20%, transparent);
     }
}

/* Color Variants */
.button[data-variant="primary"] {
    --button-primary-color: var(--color-neutral-100);
    --button-secondary-color: var(--color-primary-400);
    --button-accent-color: var(--color-primary-600);
}

.button[data-variant="secondary"] {
    --button-primary-color: var(--color-neutral-100);
    --button-secondary-color: var(--color-secondary-400);
    --button-accent-color: var(--color-secondary-600);

}

.button[data-variant="accent"] {
    --button-primary-color: var(--color-neutral-100);
    --button-secondary-color: var(--color-accent-400);
    --button-accent-color: var(--color-accent-600);
}

.button[data-variant="danger"] {
    --button-primary-color: var(--color-neutral-100);
    --button-secondary-color: var(--color-danger-400);
    --button-accent-color: var(--color-danger-600);
}