.side-bar--wrapper {
    min-height: var(--bp-xs);
    height: 100dvh;
    position: sticky;
    top: 0;
    right: 0;
}

.post-sidebar {
    padding-block-end: var(--spacing-xl);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: var(--spacing-lg);
        align-items: center;
}

.post-sidebar__contents {
    margin-block-start: var(--spacing-xl);
}

/*  DESKTOP */
@media screen and (min-width: 35rem) {

    main:has(.post-sidebar) {
        display: grid;
        grid-template-columns: 1fr max(250px, min(30%, 250px));
        column-gap: var(--spacing-lg);
    }

    .post-sidebar {
        align-items: initial;
        position: sticky;
        top: 0;
        right: 0;
        padding-inline: var(--spacing) var(--spacing-lg);
    }
}