.side-bar-wrapper {
    min-height: var(--bp-xs);
    height: 100dvh;
}

.post-sidebar {
    padding-block-end: var(--spacing-xl);
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*  DESKTOP */
@media screen and (min-width: 56rem) {
    .post-sidebar__contents {
        padding-block-start: calc(var(--spacing) * 10);
    }

    .layout-wrapper {
        --layout-max-width: var(--bp-lg);
        margin-inline-start: 0;
    }

    /* check if this is needed */
    main:has(.post-sidebar) {
        display: grid;
        grid-template-columns: 1fr max(250px, 30%);
        grid-template-rows: 1fr;
        column-gap: var(--spacing);
    }

    .post-sidebar {
        position: sticky;
        top: 0;
        right: 0;
        padding-inline-start: var(--spacing-md);
    }

    .sidebar-toggle-button--open,
    .sidebar-toggle-button--close {
        display: none;
    }
}

/* Mobile sidebar behavior */
@media screen and (max-width: 56rem) {
    .side-bar-wrapper {
        --post-sidebar-width: min(80%, 300px);
    }

    /* .sidebar-toggle-button--close, */
    .sidebar-toggle-button {
        display: flex;
        align-items: center;
        gap: calc(var(--spacing) * 2);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 0;
        transition: border-radius 250ms ease-in-out;

        &[aria-expanded="true"] {
            border-radius: 0;
            width: var(--post-sidebar-width);
            z-index: 1000;
            margin-inline: 0;
        }
    }
    
    .post-sidebar {
        position: fixed;
        width: var(--post-sidebar-width);
        top: 0;
        right: 0;
        background: var(--color-neutral-100);
        z-index: 999;
        overflow-y: auto;
        transition: transform 250ms ease-in-out;
        align-items: center;
        padding-block-start: calc(var(--spacing) * 16);
    }
    .post-sidebar[data-isopen="false"] {
        transform: translateX(calc(var(--post-sidebar-width) * 2))
    }

    .post-sidebar>* {
        width: 100%;
        padding-inline: calc(var(--spacing) * 4);
    }

    /* Adjust related posts layout for mobile */
    .post-sidebar[data-isopen="true"] .post-sidebar__related__list {
        grid-auto-flow: row;
        grid-auto-columns: unset;
        overflow-x: visible;
        mask: none;
    }
}

/* Respect reduced motion preferences */
@media (prefers-reduced-motion: reduce) {
    .post-sidebar[data-isopen="true"] {
        animation: none !important;
        transition: none !important;
    }
}