.side-bar--wrapper {
    min-height: var(--bp-xs);
    height: 100dvh;
}

.post-sidebar {
    padding-block-end: var(--spacing-xl);
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-neutral-100);
}

/*  DESKTOP */
@media screen and (min-width: 35rem) {
    .post-sidebar__contents {
        margin-block-start: calc(var(--spacing) * 10);
    }

    main:has(.post-sidebar) {
        display: grid;
        grid-template-columns: 1fr max(250px, 30%);
        grid-template-rows: 1fr;
        column-gap: var(--spacing);
    }

    .post-sidebar {
        position: sticky;
        top: 0;
        right: 0;
        padding-inline-start: var(--spacing-md);
    }
}

/* MOBILE */
@media screen and (max-width: 35rem) {
    .post-sidebar {
        align-items: center;
        padding-block-start: calc(var(--spacing) * 16);
    }
}