.post-sidebar__author {
    margin-top: auto;
    height: fit-content;
    padding-block: var(--cc-spacing-md);
}

.author {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--cc-spacing-lg);
    justify-content: center;
}

.author .author__name {
    text-transform: capitalize;
    margin: 0;
}

.author .author__avatar {
    overflow: hidden;
    border-radius: var(--cc-radius-circle);
    background-color: var(--cc-surface);
    box-shadow: var(--cc-shadow-sm);
}

.author__avatar img {
    border-radius: var(--cc-radius-circle);
    padding: var(--cc-spacing-xs);
}