.side-bar--wrapper {
    min-height: var(--bp-xs);
    height: 100dvh;
        position: sticky;
    top: 0;
    right: 0;
}

.post-sidebar {
    padding-block-end: var(--spacing-xl);
    height: 100%;
    display: flex;
    flex-direction: column;

}

/*  DESKTOP */
@media screen and (min-width: 35rem) {
    .post-sidebar__contents {
        margin-block-start: var(--spacing-xl);
    }

    main:has(.post-sidebar) {
        display: grid;
        grid-template-columns: 1fr max(250px, min(30%, 250px));
        column-gap: var(--spacing-md);
    }

    .post-sidebar {
        position: sticky;
        top: 0;
        right: 0;
        padding-inline-start: var(--spacing-md);
    }
}

/* MOBILE */
@media screen and (max-width: 35rem) {
    .post-sidebar {
        align-items: center;
        padding-block-start: var(--spacing-xxl);
    }
}