

@media screen and (max-width: 35rem) {
        /* Adjust related posts layout for mobile */
    .post-sidebar[data-isopen="true"] .post-sidebar__related__list {
        grid-auto-flow: row;
        grid-auto-columns: initial;
        overflow-x: visible;
        mask: none;
    }
}