.toc-list {
    list-style: none;
    margin: 0;
    padding-inline-start: var(--spacing-sm);
}

.toc-list>*:not(:last-child) {
    margin-block-end: var(--spacing-sm);
}

.toc-item {
    position: relative;
    transition: transform 0.2s ease-out;
}

.toc-item--active {
    transform: translateX(var(--spacing-sm));
}

.toc-item--active::before {
    content: '';
    position: absolute;
    left: -0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 0.9lh;
    background-color: var(--color-primary-400);
    border-radius: 1.5px;
    animation: slideIn 0.4s cubic-bezier(0.5, 1.5, 0.25, 2);
}

@media (prefers-reduced-motion: reduce) {
    .toc-item {
        transition: none;
    }

    .toc-item--active::before {
        animation: none;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        height: 0;
    }

    to {
        opacity: 1;
        height: 0.9lh;
    }
}

.toc-link {
    padding-inline: 0.2rem;
}

.toc-link--active {
    color: var(--color-neutral-100) !important;
    background-color: var(--color-primary-400);
}