.side-bar-wrapper {
    min-height: var(--bp-xs);
    height: 100dvh;
}

.post-sidebar {
    padding-block-end: var(--spacing-xl);
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*  DESKTOP */
@media screen and (min-width: 56rem) {

    /*  make sure overlay is not present at larger viewports - if someone rotates device */
    .side-bar-wrapper:before {
        display: none;
    }

    .post-sidebar__contents {
        padding-block-start: calc(var(--spacing) * 10);
    }

    main:has(.post-sidebar) {
        display: grid;
        grid-template-columns: 1fr max(250px, 30%);
        grid-template-rows: 1fr;
        column-gap: var(--spacing);
    }

    .post-sidebar {
        position: sticky;
        top: 0;
        right: 0;
        padding-inline-start: var(--spacing-md);
    }

    .sidebar-toggle-button {
        display: none;
    }
}

/* MOBILE */
@media screen and (max-width: 56rem) {
    .side-bar-wrapper {
        --post-sidebar-width: min(80%, 300px);
    }

    .post-sidebar {
        position: fixed;
        width: var(--post-sidebar-width);
        top: 0;
        right: 0;
        background: var(--color-neutral-100);
        overflow-y: auto;
        transition: transform 450ms ease-in-out;
        align-items: center;
        padding-block-start: calc(var(--spacing) * 16);
    }

    .post-sidebar[data-isopen="false"] {
        transform: translateX(calc(var(--post-sidebar-width) * 2))
    }

    .sidebar-toggle-button {
        --expandButtonMaxWidth: var(--post-sidebar-width);
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
        top: 0;
        right: 0;
        transition: border-radius 250ms ease-in-out;

        &[data-open="true"] {
            width: var(--post-sidebar-width);
            margin-inline: 0;
            animation: expandButton 1200ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
            .icon {
                animation: iconFadeSwap 1200ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
            }
        }

        &[data-open="false"] {
            animation: shrinkButton 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
            .icon {
                animation: iconFadeSwap 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
            }
        }
    }
}

/* Respect reduced motion preferences */
@media (prefers-reduced-motion: reduce) {
    .post-sidebar[data-isopen="true"] {
        animation: none !important;
        transition: none !important;
    }

    .sidebar-toggle-button {
        animation: none !important;
        transition: none !important;

        .icon {
            animation: none !important;
        }
    }
}