.primitive[data-appearance="primitive"] {
    padding: var(--spacing-sm) var(--spacing-md);
    background-color: color-mix(in srgb, var(--background-color) 30%, transparent);
    border: var(--border-thin);
    border-color: var(--border-color);
    border-radius: var(--radius-md);
}