.primitive[data-appearance="primitive"] {
    color: var(--color-neutral-900);
    padding: var(--spacing-sm) var(--spacing-sm);
    background-color: var(--surface-color);
    border: var(--border-thin);
    border-color: var(--border-color);
    border-radius: var(--radius-md);
}