
.button[data-appearance="ghost"] {
    &:hover {
        --background-color: color-mix(in srgb, var(--foreground-color) 10%, transparent);
    }
    &:focus-visible {
      --border-color: color-mix(in srgb, var(--foreground-color) 10%, transparent);
        outline-offset: var(--spacing);
    }
     &:active,
     &[data-pressed="true"] {
        outline-style: dashed;
        --background-color: color-mix(in srgb, var(--foreground-color) 20%, transparent);
     }
}