[data-theme="light"] {
    --surface: var(--color-neutral-100);
    --text-on-surface: var(--color-neutral-900);  
    --text-muted: var(--color-neutral-500);
    --link-on-surface: var(--color-primary-600);
}


[data-theme="dark"] {
    --surface: var(--color-neutral-900);
    --text-on-surface: var(--color-neutral-100);
    --text-muted: var(--color-neutral-300);
    --link-on-surface: var(--color-primary-200);
}