/* TODO: add disabled styling, maybe target these two:  
.input-group[data-disabled="true"],
.input-group:has(.input-group__input:disabled)
*/
.input-group {
    --input-group-accent-color: currentColor;

    position: relative;
    display: grid;
    gap: var(--spacing-sm);
    margin-block-end: var(--spacing-lg);

    &::before {
        content: "";
        position: absolute;
        inset-block: 0.25em;
        inset-inline-start: -0.5rem;
        width: 0;
        background-color: var(--color-danger-400);
        border-radius: var(--radius-sm) 0 0 var(--radius-sm);
        transition: width 0.2s ease;
    }

    &[data-invalid="true"]::before {
        width: 0.25rem;
    }

    &:focus-within {
        --input-group-accent-color: var(--color-primary-400);
    }

    .input-group__label {
        color: var(--input-group-accent-color);
        transition: color 0.2s ease;
    }

    .input-group__helper {
        color: var(--color-neutral-500);
        margin-block: var(--spacing-sm);
    }

    .input-group__required {
        vertical-align: text-top;
        margin-inline-start: 0.25ch;
    }

    .input-group__required,
    .input-group__error {
        color: var(--color-danger-400);
        font-size: var(--font-size-xs);
    }



    textarea.input-group__input {
        padding: var(--spacing);
        min-block-size: clamp(6rem, 10vh, 12rem);
        resize: vertical;
    }
}

@media screen and (max-width: 35rem) {
    .input-group {
        margin-block-end: var(--spacing);
    }
}

.input-group__input {
    --input-group-input-padding: var(--spacing) var(--spacing-lg);
    --input-group-input-border-color: var(--input-group-accent-color);

    padding: var(--input-group-input-padding);
    border: var(--border-width-thin) solid;
    border-radius: var(--radius-sm);
    transition: border-color 0.2s ease, outline-color 0.2s ease;

    &:hover {
        outline: var(--border-width-thin) solid var(--input-group-accent-color);
        outline-offset: 1px;
    }

    &:focus-visible {
        outline: var(--border-width-thick) solid var(--input-group-accent-color);
        outline-offset: 2px;
    }

    &[aria-invalid="true"] {
        border-color: var(--color-danger-400);
        outline-color: var(--color-danger-400);
    }
}